<p id="notice"><%= notice %></p>

<h1>Customizations</h1>

<table>
  <thead>
    <tr>
      <th>Color background</th>
      <th>Color border</th>
      <th>Color text</th>
      <th>Color highlight</th>
      <th>Color hover</th>
      <th>Text apt suite</th>
      <th>Text inaccurate</th>
      <th>Text select confirm</th>
      <th>Text select suggestion</th>
      <th>Text suggest1</th>
      <th>Text suggest2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customizations.each do |customization| %>
      <tr>
        <td><%= customization.color_background %></td>
        <td><%= customization.color_border %></td>
        <td><%= customization.color_text %></td>
        <td><%= customization.color_highlight %></td>
        <td><%= customization.color_hover %></td>
        <td><%= customization.text_apt_suite %></td>
        <td><%= customization.text_inaccurate %></td>
        <td><%= customization.text_select_confirm %></td>
        <td><%= customization.text_select_suggestion %></td>
        <td><%= customization.text_suggest1 %></td>
        <td><%= customization.text_suggest2 %></td>
        <td><%= link_to 'Show', customization %></td>
        <td><%= link_to 'Edit', edit_customization_path(customization) %></td>
        <td><%= link_to 'Destroy', customization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customization', new_customization_path %>
