<p id="notice"><%= notice %></p>

<p>
  <strong>Color background:</strong>
  <%= @customization.color_background %>
</p>

<p>
  <strong>Color border:</strong>
  <%= @customization.color_border %>
</p>

<p>
  <strong>Color text:</strong>
  <%= @customization.color_text %>
</p>

<p>
  <strong>Color highlight:</strong>
  <%= @customization.color_highlight %>
</p>

<p>
  <strong>Color hover:</strong>
  <%= @customization.color_hover %>
</p>

<p>
  <strong>Text apt suite:</strong>
  <%= @customization.text_apt_suite %>
</p>

<p>
  <strong>Text inaccurate:</strong>
  <%= @customization.text_inaccurate %>
</p>

<p>
  <strong>Text select confirm:</strong>
  <%= @customization.text_select_confirm %>
</p>

<p>
  <strong>Text select suggestion:</strong>
  <%= @customization.text_select_suggestion %>
</p>

<p>
  <strong>Text suggest1:</strong>
  <%= @customization.text_suggest1 %>
</p>

<p>
  <strong>Text suggest2:</strong>
  <%= @customization.text_suggest2 %>
</p>

<%= link_to 'Edit', edit_customization_path(@customization) %> |
<%= link_to 'Back', customizations_path %>
